# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 72196819316b31e9a84fa1fa5bc53a8d728d01db1da1772adb9345dfb8c1723c29a75adfdf392a85e78360230c2414929c00a646b5f50c06aaf24c2a9d8f48ec
  database:
    :host: {{ database.development.host }}
    :name: {{ database.development.name }}
    :username: {{ database.development.username }}
    :password: {{ database.development.password }}

test:
  secret_key_base: 2a57bb49a27b34aa6bc8be371ba9699abd18079f6426b8bfb9b1a35de8e9cf0dfb28ef172c16427e3c5e2ccefe3998105b829681958cc5417f67ee4295cbc976
  database:
    :host: {{ database.test.host }}
    :name: {{ database.test.name }}
    :username: {{ database.test.username }}
    :password: {{ database.test.password }}
    
production:
  database:
    :host: {{ database.production.host }}
    :name: {{ database.production.name }}
    :username: {{ database.production.username }}
    :password: {{ database.production.password }}

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
