<h1><%= I18n.t "views.error.csr_gen" %></h1>
<p>You may already have created a csr: <%= link_to "find your csr status", { controller: "csr_gen" , action: "find_csr"} %></p>
<p>Or you are not registered: <%= link_to "register here", new_person_path %> </p>