<%= form_tag 'submit' do %>
    <strong>E-mail:</strong>
    <input name="emailAddress" value="<%= @person.email %>"><br />
    <strong>Common name</strong>
    <% person_cn = @person.first_name_latin.capitalize + " " + @person.last_name_latin.capitalize%>
    <input name="commonName" value="<%=person_cn %>"><br />
    <strong>organization name:</strong>
    <input name="organizationName" value="HellasGrid"><br />
    <% person_ou = @person.organization.name %>
    <strong>Organizational Unit Name:</strong>
    <input name="organizationalUnitName" value="<%= person_ou %>" ><br />
    <strong>Country Name:</strong>
    <input name="countryName" value="GR"><br />
    <label for="SPKAC">Key_size:</label><br />
    <keygen name="SPKAC" class="textbox"></keygen><br />
    <input type="submit" value="Submit" class="textbox"><br /><br />
<%end%>

