
<table class="tablelist" id="tablelist" cellspacing="0" cellpadding="4px">
  <tr><td><%= link_to "pending csr" ,{:action=>"csr_pending", controller: "ra" }  %></td></tr>
  <tr><td><%= link_to "approved csr" ,{:action=>"csr_approved", controller: "ra" }  %></td></tr>
  <tr><td><%= link_to "rejected csr" ,{:action=>"csr_rejected", controller: "ra" }  %></td></tr>
</table>